.header {
    position: fixed;
    width: 100%;
    background-color: var(--primary);
    height:64px;
}

.header-title {
    padding-top: 13px;
    padding-left: 20px;
    padding-bottom: 17px;
    width: 200px;
    float:left;
}

.header-content {
    min-width: calc(100% - 220px);
    float: right;
}

.header-items {
    min-width: 62%;
    float:left;
}

.header-items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-items li {
    float: left;
}

.header-items li a {
    display: block;
    color: var(--font);
    text-align: center;
    padding: 23px 20px;
    text-decoration: none;
    font-family: sans-serif;
}

.header-items li a:hover {
    background-color: var(--primary-dark);
}

.header-icons {
    width: 38%;
    float:right;
}

.header-icons ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-icons li {
    float: left;
}

.header-icons li a {
    display: block;
    color: var(--font);
    text-align: center;
    padding: 23px 20px;
    text-decoration: none;
    font-family: sans-serif;
}

.header-icons li a:hover {
    background-color: var(--primary-dark);
}
